<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE-ROLLING">
    <encoder>
      <pattern>%d %p %c{1} [%t] %m%n</pattern>
    </encoder>

    <file>${HOME_LOG}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <maxHistory>60</maxHistory>
      <!-- 60 days to keep -->
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread])
          %yellow(%logger{36}.%M) - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <property name="HOME_LOG" value="~/apps/whatiread/logs/app.log"/>

  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="FILE-ROLLING"/>
    </root>
  </springProfile>

  <springProfile name="test | acc | prod">
    <root level="WARN">
      <appender-ref ref="FILE-ROLLING"/>
    </root>
  </springProfile>
</configuration>